* text=auto eol=lf
*.cs text eol=crlf
*.xaml text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.json text eol=lf
*.reg text eol=crlf
*.md text eol=lf
*.png binary
*.ico binary
*.nip binary
*.pow binary
*.exe binary
*.dll binary
